body {
  height:430px;
}

.container-fluid{
  height:430px;
}

.row{
  height:430px;
}
#img-container{
  
}

.label-custom{
  font-size:1.5em;
}

.form-200{
  max-width:75px;
  font-size:1.5em;
  text-align: right;
}